
#periodic-table-menu {
	display: flex;
	flex-direction: column;
}

#periodic-table-menu * {
	width: 200px;
}

#periodic-table {
	display: grid;
	margin: 5px;

	gap: 2px;
}

.periodic-table-element {
	border: 1px solid aliceblue;

	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3px;

	font-size: 16px;

	height: 34px;
	width: 34px;
}

.circle {
	border-radius: 50%;
	aspect-ratio: 1/1;
}