
#search-input {
	width: 250px;
	outline: none;
}

#recomendation-list {
	list-style: none;
	margin: 4px 0px;
	position: absolute;
	background-color: #234;
	/* border: 1px solid white; */
	width: 250px;
}

#recomendation-list li {
	padding: 6px;
}

#recomendation-list li:hover {
	color: gold;
	background-color: #444400;
}